
.app_chat-background{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url('../../assets/bg3.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.app_chat-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app_chat-contacts{
    display: flex;
    position: relative;
    z-index: 1;
    color: white; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;  
    height:85vh;
    width: 17vw;
    overflow-y: auto;
    overflow-x: none;
    margin-top: 2rem;
    margin-left: 8rem;
}



.app_chat-message::-webkit-scrollbar {
    width: 0px;
    height: 0px;  /* For horizontal scrollbar */
  }

  .uplaod_display-container,.download_display-container{
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 1000;
      top: 0;
      left: 0;
      backdrop-filter: blur(16px);
      flex-direction: column;
      gap: 2rem;
    }

    @keyframes pulse {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: .5;
      }
    }

    .uplaod_display,.download_display{
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }