.container{
    position: relative;
    z-index: 1;
    color: white; /* You can change the color to make it more readable against your background */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    border-radius: 10px; /* Optional: rounded corners */  
    height:70vh;
    width: 70vw;
    margin-bottom: 23px;
    overflow-y: auto;
    overflow-x: none;
}


.container h1{
    text-align: center;
    font-size: 30px;
}

.join_msg{
    display: flex;
    justify-content: center;
}

.center{
    display: inline;
    margin: 5px;
    padding: 7px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(83, 82, 82);
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 60%;
}
.join_msg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .left,.right {
    display: inline-block;
    width: auto;
    margin: 16px;
    padding: 12px;
    
    border-radius: 10px;
    font-size: 16px;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 50%;
  }
  
  .left {
    align-self: flex-start;
    background-color: #8519ff;
  }
  
  .right {
    background-color: #4f43f5;
    align-self: flex-end;
    text-align: right;
  }
  
  .center {
    align-self: center;
    background-color: rgb(83, 82, 82);
    text-align: center;
  }
  

.send{
    margin-top: 1%;
    max-width: 100vw;
    width:100%;
    display: flex;
}

#messageInput{
    flex:1;
    height: 36px;
    border: none;
    border-radius: 6px;
    color: black;
    background-color: darkgray;
    margin-right: 5px;
    outline: none;
    font-size: 17px;
    padding-left: 1rem;

}

::placeholder{
    color: black;
}

.btn{
    border:none;
    height:36px;
    border-radius: 6px;
    background-color: #7f13fa;
    color: white;
    padding: 0 1rem;
    font-size: 15px;
}



  @media screen  and (max-width:1250px) {
    .container{
    height:75vh;
    width: 75vw;
    }
    .left,.right,.center{
        font-size: 14px;
    }

  }

  @media screen  and (max-width:850px) {
    .left,.right,.center{
        font-size: 13px;
    }
  }

  @media screen  and (max-width:540px) {
    .left,.right{
        margin: 16px 0;
        font-size: 12px;
    }
    .center{
        font-size: 12px;
    }
    #messageInput{
        font-size: 15px;
    }
  }