.chat_header-background{
    position: relative;
    z-index: 1;
    color: white; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;  
    height: 3vh;
    width: 63vw;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/* Styles for the header container */
.chat_header-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styles for the left content container */
.chat_header-left-content {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* Styles for the inner left content */
.chat_header-inner-left-content {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

/* Styles for the right content container */
.chat_header-right-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* Styles for the button */
.chat_header-close-button {
    color: #9ca3af; /* Neutral 500 */
    border: none;
    outline: none;
    background: none;
    color: white; /* Text color */
    transition: all 0.3s duration; /* Transition for hover and focus effects */
}

/* Optional: add focus styles if needed */
.chat_header-close-button:focus {
    border: none;
    outline: none;
}
