body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: url('../../assets/bg3.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .app_container {
    position: relative;
    z-index: 1;
    color: white; /* You can change the color to make it more readable against your background */
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    border-radius: 10px; /* Optional: rounded corners */  
    height:60vh;
    width: 60vw;
  }

  .app_container h1{
    font-size: 3rem;
    margin-bottom: 4%;
    font-weight: 800;
  }

  .app_container p{
    font-size: 20px;
    margin-bottom: 3%;
    line-height: 40px;
  }

  #nameInput,#roomInput{
    display: block;
    margin: 1rem auto;
    width: 30%;
    height: 45px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: black;
    outline: none;
    font-size: 18px;
    padding-left: 1rem;
  }

  #nameInput::placeholder,#roomInput::placeholder{
   color: white;
}

  .app_container button{
    margin: auto;
    color: white;
    padding: 0.8rem 1.8rem;
    font-size: 18px;
    background-color: #510DA0;
    border-radius:20px;
    border: none;
    margin-bottom: 5%;
  }

  .app_container button:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: black;
  }

  a{
    text-decoration: none;
    color: white;
  }
  @media screen  and (max-width:1450px) {
    .app_container{
      height:65vh;
    width: 65vw;
    }
  }
  
  @media screen and (max-width: 1250px) {
    .app_container{
      height:75vh;
      width: 75vw;
      }
    .app_container h1{
      font-size: 2.5rem;
    }
    #nameInput,#roomInput{
      width: 40%;
      font-size: 16px;
    }
    .app_container p{
      font-size: 17px;
      margin-bottom: 8%;
    }
    .app_container button{
      font-size: 17px;
      margin-bottom: 8%;
    }
  }

  @media screen and (max-width: 980px) {
    .app_container{
      height:70vh;
      width: 70vw;
    }
    .app_container h1{
      font-size: 2rem;
      margin-bottom: 5%;
    }
    .app_container p{
      font-size: 15px;
      margin-bottom: 10%;
    }
    #nameInput,#roomInput{
      width: 55%;
      font-size: 15px;
    }
    .app_container button{
      font-size: 15px;
      margin-bottom: 10%;
    }
  }

  @media screen and (max-width: 480px) {
    .app_container{
      height:75vh;
      width: 75vw;
    }
    .app_container h1{
      font-size: 1.5rem;
      margin-bottom: 20%;
    }
    .app_container p{
      font-size: 12px;
      margin-bottom: 15%;
    }
    #nameInput,#roomInput{
      width: 70%;
      font-size: 12px;
    }
    .app_container button{
      font-size: 12px;
      margin-bottom: 22%;
    }
  }