.message_container-background {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    height: 70vh;
    width: 63vw;
    margin-bottom: 1rem;
    overflow-y: auto;
    overflow-x: none;
  }

  .message_container-background::-webkit-scrollbar {
    width: 0px;
    height: 0px;  /* For horizontal scrollbar */
  }
  
  .app_message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .app_message-date {
    display: inline;
    margin: 5px;
    padding: 7px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(83, 82, 82);
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 60%;
  }
  
  .text-left,
.text-right {
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 50%; /* Allow more space for larger images */
}
  
  .text-left {
    align-self: flex-start;
    background-color: #8519ff;
  }
  
  .text-right {
    background-color: #4f43f5;
    align-self: flex-end;
    text-align: right;
  }

  .app_message-img {
  max-width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .app_message-msg {
    color: white;
  }


  .app_message-img img{
  max-width: 100%; 
  max-height: 300px; 
  width: auto;
  height: auto; 
  object-fit: contain; 
  border-radius: 10px; 
  }

  .app_message-time-right {
    font-size: 10px;
    color: #e0e0e0;
    margin-right: 16px;
    margin-top: 5px; /* Add margin to create space between message and time */
    align-self: flex-end; /* Align time to the end */
  }
  
  .app_message-time-left {
    font-size: 10px;
    color: #e0e0e0;
    margin-left: 16px;
    margin-top: 5px; /* Add margin to create space between message and time */
    align-self: flex-start; /* Align time to the end */
  }
  
  .zip-icon{
    font-size: 18px;
    color: black;
    padding: 0 10px 0 0;
    margin-top: 2px;
  }

  .download-icon{
    font-size: 16px;
    padding: 0 0 0 10px;
    margin-top: 3px;
    cursor: pointer;
  }

  .Zip-download-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message-img-img{
    cursor: pointer;
    min-width: 100px;
  }

  .message-img-img img{
    max-width: 300px;
    max-height: 300;
    min-width: 100px;
  }

  .img_display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    backdrop-filter: blur(16px);
    flex-direction: column;
  }

  .img-display-img img{
    max-height: 80vh;
    height: auto;
    width: 100%;
    background-size: contain;
    object-fit: contain;
  }

  .img_display-icons{
    display: flex;
    position: fixed;
    top: 0;
    margin-top: 2rem;
    gap: 1.25rem;
  }

  .display_download-icon{
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
  }