/* EmptyChatContainer.css */

.empty-chat-background{
    position: relative;
    z-index: 1;
    color: white; 
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;  
    height:85vh;
    width: 63vw;
    overflow-y: auto;
    overflow-x: none;
    margin-top: 2rem;
    margin-right: 8rem;
}
.empty-chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.empty-chat-animation {
    margin-bottom: 20px;
}

.empty-chat-message h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.empty-chat-message p {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
}
